@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
}

nav {
  width: 100%;
  background-color: aquamarine;
  padding: 10px 0px 50px 0px;
  flex-direction: row;
  display: flex;
}

ul {
  float: right;
  position: relative;
  left: 48em;
  width: 18%;
  list-style-type: none;
}

#Another {
  display:none;
  list-style-type:none;
  flex-direction: column;
  font-size: 14px;
  :hover{
    text-decoration: underline;
    cursor: pointer;
  }
}
#clickme {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  position: relative;
  left: 34em;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
}

#clickme:hover {
  background: #3cb0fd;
  text-decoration: none;

}

#palindromes {
  background-color: antiquewhite;
}
#factorialize {
  background-color: bisque;
}
#reverse {
  background-color:rgba(#537855, 0.45);
}
#longest-word {
  background-color: rgba(#8067de, 0.59);
}
#title-case {
  background-color: #8cd1e7;
}
#return-largest-num-array {
  background-color: rgba(#323e5b, 0.78);
}
#palindromes,#factorialize,#reverse,#longest-word,#title-case,#return-largest-num-array {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 12px;
}

p {
  font-size: 22px;
}

#container {
  text-align: center;
  display: flex;
  flex:1;
  flex-direction: column;
}

strong {
  text-align: left;
  left: 100px;
  position: relative;
  width: 35%;
  font-size: 16px;
  background-color: rgba(51, 155, 205, 0.13);
}

p {
  width: 40%;
  position: relative;
  left: 30vw;
}

#JS {
  -ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(-7deg);
  font-family: fantasy;
  text-decoration: underline;
  text-shadow: 2px 2px rgba(255, 0, 0, 0.31);
  position: relative;
  top: 18px;
  left: 14px;
  }
