@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
}

h2 {
  font-weight: 300;
}

nav {
  width: 100%;
  background-color: aquamarine;
  padding: 10px 0px 50px 0px;
  flex-direction: row;
  display: flex;
}
@media screen and (min-width: 260px) {
    body {
        background-color: lightgreen;
    }
}
ul {
  float: right;
  position: relative;
  left: 48em;
  width: 18%;
  list-style-type: none;
}

#welcome {
  padding-top: 200px;
  padding-bottom: 200px;
    #p-one {
      font-weight: bold;
      font-size: 1.5em;
      letter-spacing: 0.05em;
      line-height: 1.5;
      margin-top: -4em;
    }
}

#bold {
    font-size: 4em;
    font-weight: bold;
    position: relative;
    top: -2em;
    letter-spacing: 0.05em;
  }

#Another {
  display:none;
  list-style-type:none;
  flex-direction: column;
  font-size: 14px;
  :hover{
    text-decoration: underline;
    cursor: pointer;
  }
}
#clickme {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  position: relative;
  left: 34em;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
}

#clickme:hover {
  background: #3cb0fd;
  text-decoration: none;

}

#palindromes {
  background-color: antiquewhite;
  font-weight: bold;
}
#factorialize {
  background-color: bisque;
}
#reverse {
  background-color:rgba(#537855, 0.45);
}
#longest-word {
  background-color: rgba(#8067de, 0.59);
}
#title-case {
  background-color: #8cd1e7;
}
#return-largest-num-array {
    background-color: rgba(127, 158, 232, 0.22);
  }
#palindromes,#factorialize,#reverse,#longest-word,#title-case,#return-largest-num-array {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 12px;
  font-weight: 100;
}

p {
  font-size: 22px;
  font-weight: bold;
    @media screen and (min-width: 260px) {

    }
}

.f,.h {
  border-bottom: 5px solid #ace4c8;
  height: 10vh;
  border-left: 5px solid rgba(205, 92, 92, 0.52);
  border-right: 5px solid rgba(205, 92, 92, 0.52);
  text-decoration: underline;
    @media screen and (min-width: 260px) {
      border: none;
      margin-bottom: 20px;
    }
}

#container {
  text-align: center;
  display: flex;
  flex:1;
  flex-direction: column;
}

strong {
  text-align: left;
  position: relative;
  font-weight: bold;
  width: 35%;
  font-size: 16px;
  line-height: 2;
  display: flex;
  align-self: center;

    @media screen and (min-width: 260px) {
        align-items: center;
        align-content: center;
        display: flex;
        text-align: center;
        flex-direction: column;
        background-color: none;
        flex:1;
        font-size: 19px;

    }
}
.solution {
  text-align: -webkit-center;
  text-align: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex:1;
  flex-direction: column;

}

p {
  width: 40%;
  position: relative;
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 2;
  left: 30vw;
}

#JS {
  -ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(-7deg);
  font-family: fantasy;
  text-decoration: underline;
  text-shadow: 2px 2px rgba(255, 0, 0, 0.31);
  position: relative;
  top: 18px;
  left: 14px;
  }
